---
import BaseLayout from "../layouts/BaseLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li class="item">
            <a class="item-title" href={post.url}>
              {post.frontmatter.title}
            </a>
            <time datetime={post.frontmatter.pubDate}>
              {new Date(post.frontmatter.pubDate).toLocaleDateString("ru-ru", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <p class="item-description">{post.frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  .item {
    margin-bottom: 3rem;
    list-style-type: none;
  }

  .item-title {
    font-weight: 900;
    display: block;
    font-size: 32px;
  }

  .item-description {
    display: block;
  }

  @media only screen and (max-width: 768px) {
    .item-title {
      font-size: 24px;
    }
  }
</style>
